In [1]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [47]:
from openpyxl import Workbook

data_dict = [
    {"Таб. номер": "0002", "Фамилия": "Петров П.П.", "Отдел": "Бухгалтерия", "Сумма по окладу": 3913.04, "Сумма по надбавкам": 2608.70, "Сумма зарплаты": 6521.74, "НДФЛ, %": 13},
    {"Таб. номер": "0005", "Фамилия": "Васин В.В.", "Отдел": "Бухгалтерия", "Сумма по окладу": 5934.78, "Сумма по надбавкам": 913.04, "Сумма зарплаты": 6847.83, "НДФЛ, %": 13},
    {"Таб. номер": "0001", "Фамилия": "Иванов И.И.", "Отдел": "Отдел кадров", "Сумма по окладу": 6000.00, "Сумма по надбавкам": 4000.00, "Сумма зарплаты": 10000.00, "НДФЛ, %": 13},
    {"Таб. номер": "0003", "Фамилия": "Сидоров С.С.", "Отдел": "Отдел кадров", "Сумма по окладу": 5000.00, "Сумма по надбавкам": 4500.00, "Сумма зарплаты": 9500.00, "НДФЛ, %": 13},
    {"Таб. номер": "0006", "Фамилия": "Львов Л.Л.", "Отдел": "Отдел кадров", "Сумма по окладу": 4074.07, "Сумма по надбавкам": 2444.44, "Сумма зарплаты": 6518.52, "НДФЛ, %": 13},
    {"Таб. номер": "0007", "Фамилия": "Волков В.В.", "Отдел": "Отдел кадров", "Сумма по окладу": 1434.78, "Сумма по надбавкам": 1434.78, "Сумма зарплаты": 2869.57, "НДФЛ, %": 13},
    {"Таб. номер": "0004", "Фамилия": "Мишин М.М.", "Отдел": "Столовая", "Сумма по окладу": 5500.00, "Сумма по надбавкам": 3500.00, "Сумма зарплаты": 9000.00, "НДФЛ, %": 13},
]

for row in data_dict:
    row["Сумма НДФЛ"] = round(row["Сумма зарплаты"] * row["НДФЛ, %"] / 100, 2)
    row["Сумма к выдаче"] = round(row["Сумма зарплаты"] - row["Сумма НДФЛ"], 2)

for row in data_dict:
    print(row)

{'Таб. номер': '0002', 'Фамилия': 'Петров П.П.', 'Отдел': 'Бухгалтерия', 'Сумма по окладу': 3913.04, 'Сумма по надбавкам': 2608.7, 'Сумма зарплаты': 6521.74, 'НДФЛ, %': 13, 'Сумма НДФЛ': 847.83, 'Сумма к выдаче': 5673.91}
{'Таб. номер': '0005', 'Фамилия': 'Васин В.В.', 'Отдел': 'Бухгалтерия', 'Сумма по окладу': 5934.78, 'Сумма по надбавкам': 913.04, 'Сумма зарплаты': 6847.83, 'НДФЛ, %': 13, 'Сумма НДФЛ': 890.22, 'Сумма к выдаче': 5957.61}
{'Таб. номер': '0001', 'Фамилия': 'Иванов И.И.', 'Отдел': 'Отдел кадров', 'Сумма по окладу': 6000.0, 'Сумма по надбавкам': 4000.0, 'Сумма зарплаты': 10000.0, 'НДФЛ, %': 13, 'Сумма НДФЛ': 1300.0, 'Сумма к выдаче': 8700.0}
{'Таб. номер': '0003', 'Фамилия': 'Сидоров С.С.', 'Отдел': 'Отдел кадров', 'Сумма по окладу': 5000.0, 'Сумма по надбавкам': 4500.0, 'Сумма зарплаты': 9500.0, 'НДФЛ, %': 13, 'Сумма НДФЛ': 1235.0, 'Сумма к выдаче': 8265.0}
{'Таб. номер': '0006', 'Фамилия': 'Львов Л.Л.', 'Отдел': 'Отдел кадров', 'Сумма по окладу': 4074.07, 'Сумма по надбавкам': 2444.44, 'Сумма зарплаты': 6518.52, 'НДФЛ, %': 13, 'Сумма НДФЛ': 847.41, 'Сумма к выдаче': 5671.11}
{'Таб. номер': '0007', 'Фамилия': 'Волков В.В.', 'Отдел': 'Отдел кадров', 'Сумма по окладу': 1434.78, 'Сумма по надбавкам': 1434.78, 'Сумма зарплаты': 2869.57, 'НДФЛ, %': 13, 'Сумма НДФЛ': 373.04, 'Сумма к выдаче': 2496.53}
{'Таб. номер': '0004', 'Фамилия': 'Мишин М.М.', 'Отдел': 'Столовая', 'Сумма по окладу': 5500.0, 'Сумма по надбавкам': 3500.0, 'Сумма зарплаты': 9000.0, 'НДФЛ, %': 13, 'Сумма НДФЛ': 1170.0, 'Сумма к выдаче': 7830.0}

In [48]:
def calculate_totals(data):
    totals = {}
    for row in data:
        department = row["Отдел"]
        if department not in totals:
            totals[department] = {"Сумма по окладу": 0, "Сумма по надбавкам": 0, "Сумма зарплаты": 0, "Сумма НДФЛ": 0, "Сумма к выдаче": 0}
        totals[department]["Сумма по окладу"] += row["Сумма по окладу"]
        totals[department]["Сумма по надбавкам"] += row["Сумма по надбавкам"]
        totals[department]["Сумма зарплаты"] += row["Сумма зарплаты"]
        totals[department]["Сумма НДФЛ"] += row["Сумма НДФЛ"]
        totals[department]["Сумма к выдаче"] += row["Сумма к выдаче"]
        
    return totals

# Итоги по отделам
totals = calculate_totals(data_dict)
print(totals)

{'Бухгалтерия': {'Сумма по окладу': 9847.82, 'Сумма по надбавкам': 3521.74, 'Сумма зарплаты': 13369.57, 'Сумма НДФЛ': 1738.0500000000002, 'Сумма к выдаче': 11631.52}, 'Отдел кадров': {'Сумма по окладу': 16508.85, 'Сумма по надбавкам': 12379.220000000001, 'Сумма зарплаты': 28888.09, 'Сумма НДФЛ': 3755.45, 'Сумма к выдаче': 25132.64}, 'Столовая': {'Сумма по окладу': 5500.0, 'Сумма по надбавкам': 3500.0, 'Сумма зарплаты': 9000.0, 'Сумма НДФЛ': 1170.0, 'Сумма к выдаче': 7830.0}}

In [74]:
wb = Workbook()
ws = wb.active
ws.title = "my"


headers = ["Таб. номер", "Фамилия", "Отдел", "Сумма по окладу, руб.", "Сумма по надбавкам, руб.", "Сумма зарплаты, руб.", "НДФЛ, %", "Сумма НДФЛ", "Сумма к выдаче, руб."]
ws.append(headers)

row_num = 2
for department in totals.keys():
    for row in data_dict:
        if row["Отдел"] == department:
            info = []
            for key in row.keys():
                info.append(row[key])
            ws.append(info)
            row_num += 1
  
    total_row = ["", "", f"{department} итог", totals[department]["Сумма по окладу"], totals[department]["Сумма по надбавкам"], totals[department]["Сумма зарплаты"], 13, totals[department]["Сумма НДФЛ"], totals[department]["Сумма к выдаче"]]
   
    total_row += [""] * (len(headers) - len(total_row))
    ws.append(total_row)
    row_num += 1


total_sums = {
    "Сумма по окладу": 0,
    "Сумма по надбавкам": 0,
    "Сумма зарплаты": 0,
    "Сумма НДФЛ": 0,
    "Сумма к выдаче": 0,
}
for department_totals in totals.values():
    for key in total_sums:
        total_sums[key] += department_totals[key]


total_total_row = ["", "", "Итого", total_sums["Сумма по окладу"], total_sums["Сумма по надбавкам"], total_sums["Сумма зарплаты"], 13, total_sums["Сумма НДФЛ"], total_sums["Сумма к выдаче"]]
ws.append(total_total_row)

wb.save("my.xlsx")


2 задание

In [75]:
from openpyxl import load_workbook
wb = load_workbook("my.xlsx")
ws = wb.active
data = []
for row in ws.iter_rows(min_row=2, values_only=True):
    if row[0] or row[1]: 
        data.append(row)

max_salary = max(data, key=lambda x: x[5])  # x[5] — Сумма зарплаты
min_salary = min(data, key=lambda x: x[5])

departments = {}
for row in data:
    department = row[2] 
    if department not in departments:
        departments[department] = {"total_salary": 0, "count": 0}
    departments[department]["total_salary"] += row[5]  
    departments[department]["count"] += 1

average_salaries = {dep: round(values["total_salary"] / values["count"], 2) for dep, values in departments.items()}

In [76]:
print(f"Максимальная зарплата: {max_salary[1]} ({max_salary[5]} руб.)")
print(f"Минимальная зарплата: {min_salary[1]} ({min_salary[5]} руб.)")
print("Средняя зарплата по отделам:")
for department, avg_salary in average_salaries.items():
    print(f"  {department}: {avg_salary} руб.")

Максимальная зарплата: Иванов И.И. (10000 руб.)
Минимальная зарплата: Волков В.В. (2869.57 руб.)
Средняя зарплата по отделам:
  Бухгалтерия: 6684.78 руб.
  Отдел кадров: 7222.02 руб.
  Столовая: 9000.0 руб.

In [77]:
# Запись
start_row = 14
start_col = 2

ws.cell(row=start_row, column=start_col, value="Наименование")
ws.cell(row=start_row, column=start_col + 1, value="Значение")

ws.cell(row=start_row + 1, column=start_col, value="Максимальная зарплата")
ws.cell(row=start_row + 1, column=start_col + 1, value=f"{max_salary[1]} ({max_salary[5]} руб.)")

ws.cell(row=start_row + 2, column=start_col, value="Минимальная зарплата")
ws.cell(row=start_row + 2, column=start_col + 1, value=f"{min_salary[1]} ({min_salary[5]} руб.)")

current_row = start_row + 4
ws.cell(row=current_row - 1, column=start_col, value="Средняя зарплата по отделам")
for department, avg_salary in average_salaries.items():
    ws.cell(row=current_row, column=start_col, value=department)
    ws.cell(row=current_row, column=start_col + 1, value=avg_salary)
    current_row += 1

In [78]:
from openpyxl.chart import PieChart, Reference



# Убедимся, что данные о средней зарплате по отделам находятся в ячейках B18:C20
# В B18:B20 находятся наименования отделов (Бухгалтерия, Отдел кадров, Столовая)
# В C18:C20 — средние зарплаты этих отделов

# Создаем круговую диаграмму
pie = PieChart()

# Данные для диаграммы: диапазон C18:C20 (средние зарплаты)
data = Reference(ws, min_col=3, min_row=17, max_row=20)

# Категории для диаграммы: диапазон B18:B20 (названия отделов)
categories = Reference(ws, min_col=2, min_row=18, max_row=20)

# Добавляем данные и категории в диаграмму
pie.add_data(data, titles_from_data=True)
pie.set_categories(categories)

# Размещаем диаграмму правее таблицы, начиная с ячейки E18
ws.add_chart(pie, "E18")
wb.save("my.xlsx")